@mixin align-center {
  display: flex;
  align-items: center;
}

@mixin mp-20 {
  margin: 20px;
  padding: 20px;
}

.cartItemBlock {
  display: flex;
  box-shadow: 1px 1px 1px 1px grey;
  @include mp-20;
}

.cartItemTitle {
  margin-left: 30px;
}

.cartItemPriceWrapper {
  display: flex;
  margin-left: auto;
}

.cartItemQuantity {
  @include align-center;
  margin-right: 130px;
}

.cartItemQuantity span {
  margin: 0 20px;
}

.cartItemPrice {
  width: 100px;
  @include align-center;
  margin-left: auto;
}

.totalPriceBlock {
  background: rgb(224, 222, 222);
  border-radius: 20px;
  @include mp-20;
  margin-top: 50px;
}

.totalPriceRow {
  display: flex;
}

.totalPrice {
  margin-left: auto;
  margin-right: 30px;
}
