@mixin space-between {
  display: flex;
  justify-content: space-between;
}

.card {
  box-shadow: 3px 3px 3px 3px grey;
  margin: 20px;
  padding: 10px;
  width: 250px;
  height: 350px;
}

.cardContent {
  @include space-between;
}

.iconsMainBlock {
  @include space-between;
  flex-direction: column;
  margin-right: 25px;
  margin-bottom: 20px;
}
