.productPageComments {
  margin: 50px 20px 0;

  input,
  textarea,
  button {
    margin-bottom: 25px;
  }
}

.productCommentsBlock {
  background: rgb(224, 222, 222);
  border-radius: 20px;
  margin: 20px 0;
  padding: 20px;

  span {
    margin-right: 20px;
  }
  
  div {
    margin-top: 20px;
  }
}
