.productPageBlock {
  margin: 20px;
  box-shadow: 3px 3px 3px 3px grey;
  padding: 20px;
  display: flex;
}

.productPageContent {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.productPageIcons {
  display: flex;

  div {
    margin-right: 50px;
  }
}

