.header {
    background: rgb(52, 52, 236);
    height: 70px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;

    input {
      height: 33px;
      width: 800px;
    }
  }
  
