.header {
  background: rgb(52, 52, 236);
  height: 70px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  align-items: center;
}

.header input {
  height: 33px;
  width: 800px;
}

.card {
  box-shadow: 3px 3px 3px 3px grey;
  margin: 20px;
  padding: 10px;
  width: 250px;
  height: 350px;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  position: absolute;
  background: rgb(253, 252, 252);
  width: 300px;
  opacity: 0.9;
  height: 100%;
  box-shadow: 3px 3px 3px 3px grey;
  padding: 10px;
}

.navbar div {
  padding: 20px;
}

.navbar div:hover, .active {
  background: rgb(83, 83, 244);
}

.cardConten {
  display: flex;
  justify-content: space-between;
}

.cardIcon {
  margin-right: 25px;
  margin-bottom: 50px;
}

.favoriteIconHeader {
  margin-right: 45px;
}
