.header {
  background: rgb(52, 52, 236);
  height: 70px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.header input {
  height: 33px;
  width: 800px;
}

.card {
  box-shadow: 3px 3px 3px 3px grey;
  margin: 20px;
  padding: 10px;
  width: 250px;
  height: 360px;
}

.card div {
  margin-top: 10px;
}

.card-block {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  position: absolute;
  background: #ffffff;
  height: 100vh;
  width: 300px;
  padding: 10px;
  opacity: 0.9;
  box-shadow: 3px 3px 3px 3px grey;
}

.navbar div {
  margin: 10px;
  border: 1px solid rgb(221, 220, 220);
  padding: 8px;
}

.navbar div:hover,
.activeCategory {
  background: rgb(99, 99, 251);
  color: #fff;
}
